*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal{
    background: black;
    margin: 10px;
    padding: 5px
}

.verde{
    background: green;
    padding: 25px;
    margin: 5px;
}

.centro{
    display: flex;
    align-items: center;
}

.left{
    background: red;
    width: 70%;
    padding: 25px;
    height: 400px;
    margin: 5px;
}

.right{
    background: orchid;
    width: 30%;
    padding: 25px;
    height: 400px;
    margin: 5px;
}

.final{
    background: chartreuse;
    padding: 25px;
    margin: 5px;
}

.white{
    background: white;
    padding: 25px;
    margin: 5px;
}

.rr{
    background: rgb(212, 61, 124);
    padding: 25px;
    margin: 5px;
}